# open-terminal.container
[Unit]
Description=Open Terminal Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=open-terminal
# make sure "${HOME}/.local/config/services/open-terminal.env exists and
# has a line for OPEN_TERMINAL_API_KEY variable. Or use the Environment
# option below
EnvironmentFile=%h/.local/config/services/open-terminal.env
# use hardcoded environment variable for OPEN_TERMINAL_API_KEY
# if you don't want to deal with environment file(s)
# make sure to replace "your-secret-key" with something else too.
#Environment=OPEN_TERMINAL_API_KEY=your-secret-key
Environment=OPEN_TERMINAL_PACKAGES='ffmpeg rust-all golang lilypond'
Environment=OPEN_TERMINAL_PIP_PACKAGES=""
Image=ghcr.io/open-webui/open-terminal
PublishPort=3001:8000
Volume=open-terminal:/home/user
AddHost=host.containers.internal:host-gateway
# alternative for CPUQuota and MemoryMax in "Service" section below
#PodmanArgs=--cpus=2 --memory=4G

[Service]
Restart=always
RestartSec=10s
CPUQuota=200%
MemoryMax=4G

[Install]
WantedBy=default.target
