# open-webui.container
[Unit]
Description=Open WebUI Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=open-webui
Image=ghcr.io/open-webui/open-webui:main
PublishPort=3000:8080
Volume=open-webui:/app/backend/data
AddHost=host.containers.internal:host-gateway

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
