# searxng.container
[Unit]
Description=SearXNG Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=searxng
Image=ghcr.io/searxng/searxng:latest
PublishPort=8081:8080
Volume=%h/.config/searxng:/etc/searxng
Volume=searngx:/var/cache/searxng/
AddHost=host.containers.internal:host-gateway
# alternative for CPUQuota and MemoryMax in "Service" section below
#PodmanArgs=--cpus=2 --memory=4G

[Service]
Restart=always
RestartSec=10s
CPUQuota=200%
MemoryMax=4G

[Install]
WantedBy=default.target
