/* Global settings for waybar */
* {
	border: none;
	font-size: 12px;
	font-family: "monospace";
	min-height: 0;
	padding: 0;
}

window#waybar {
	background-color: rgba(29, 31, 33, 0.5); /* #1d1f21 with 0.5 alpha */
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

/* middle items (i.e. no rounded borders) */
.center_items
{
	background-color: #1d1f21;
	color: #f0f8ff;
	margin: 2px 0px 2px 0px;
	padding: 4px 6px 4px 4px;
}

/* left edge items (i.e. rounded left side) */
#temperature
{
	background-color: #1d1f21;
	color: #f0f8ff;
	margin: 2px 0px 2px 2px;
	padding: 4px 6px 4px 4px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

/* right edge items (i.e. rounded right side) */
#load
{
	background-color: #1d1f21;
	color: #f0f8ff;
	margin: 2px 2px 2px 0px;
	padding: 4px 4px 4px 6px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* island items (i.e. rounded both sides) */
#battery,
#clock,
#idle_inhibitor,
#language,
#mpris,
#network,
#tray,
#wireplumber,
#workspces
{
	background-color: #1d1f21;
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
}

/*
 * window manager modes should use same styling as "island items",
 * but with different background color
 */
#mode {
	background-color: #b22222;
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
}

/*
 * workspaces needs a lot more detailed styling on top of the base one
 * defined above
 */
#workspaces button {
	background-color: rgba(29, 31, 33, 0.5); /* #1d1f21 with 0.5 alpha */
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
	min-width: 12px;
}

#workspaces button.focused {
	background-color: #000000;
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
}

#workspaces button.urgent {
	background-color: #b22222;
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
}

#workspaces button.empty,
#workspaces button.hidden,
#workspaces button.visible
{
	background-color: #1d1f21;
	color: #f0f8ff;
	margin: 2px;
	padding: 6px;
	border-radius: 8px;
}
