[Unit]
Description=Python Local HTTP Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
Environment=PORT=8000
Environment=DIRECTORY=/srv/http
EnvironmentFile=-%h/.local/config/services/python-http-server.env
ExecStart=/usr/bin/python -m http.server --bind :: --directory $DIRECTORY $PORT

[Install]
WantedBy=default.target
