[Unit]
Description=Headless Sway Session
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c "PATH=~/.local/sbin:${PATH} sway-remote-run"

[Install]
WantedBy=default.target
Alias=sway-headless.service
