[Unit]
Description=Headless Sway Session
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=sway-remote-run

[Install]
WantedBy=default.target
Alias=sway-headless.service
