[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/bin/tmux -f %h/.config/tmux/tmux.conf new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target
