[Unit]
Description=Start tmux in detached session for %I

[Service]
Type=forking
Restart=on-failure
Environment=LANG=C.UTF-8
EnvironmentFile=-/etc/locale.conf
WorkingDirectory=~
User=%I
Group=%I
ExecStart=/usr/bin/tmux new-session -s %I -d -f /home/%I/.config/tmux/tmux.conf
ExecStop=/usr/bin/tmux kill-session -t %I

[Install]
WantedBy=multi-user.target
